* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f3f8f7;
}

header {
    background: #f3f8f7;
}

.navbar-toggler {
    border: 1px solid #407BFF;
}

.navbar-toggler:focus {
    color: #407BFF;
    box-shadow: 0 0 .1rem;
}

.bi-list {
    color: #407BFF;
    font-size: 20px;
}

section {
    background: #f3f8f7;
    margin-top: 5px;
    padding: 30px 0px;
    border-radius: 2px;
}

h2 {
    color: #407BFF;
    font-weight: 600;
    margin-bottom: 20px;
}

h5 {
    font-size: 20px;
    color: #407BFF;
}

.card i {
    font-size: 35px;
    color: #407BFF;
    margin-left: 15px;
}

#accueil {
    display: flex;
    min-height: 100vh;
}

#femmestrans img {
    height: 300px;
    width: 300px;
}

footer {
    border-top: 1px solid #407BFF;
    padding: 30px;
}

@media (min-width: 992px) {
    header {
        border-bottom: solid 1px #407BFF;
    }
}

@media (max-width: 575px) {
    #last {
        order: 1;
    }

    #first {
        order: 2;
    }
}